* {
  margin: 0;
  padding: 0;
}

body {
  background-color: whitesmoke;
}

.contenedor {
}

.juego {
  gap: 4em;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.michi_fila {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.michi {
  position: relative;
  display: flex;
  flex-direction: column;
  font-size: 6em;
  background-color: darkslateblue;
  gap: 10px;
}

#linea {
  position: absolute;
  width: 100%;
  height: 100%;
}

#linea svg {
  width: 100%;
  height: 100%;
}

/* For desktop, this wrapper is ignored for layout purposes */
.jugadores {
  display: contents;
}

.jugador {
  background-color: lightgray;
  font-size: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Move player 2 to the end on desktop */
#jugador2 {
  order: 1;
}

.marcador {
  margin: 1em;
  background-color: lightsteelblue;
  width: 5em;
  aspect-ratio: 1/1;
}

.turno {
  width: 2.5em;
  aspect-ratio: 1/1;
}

.casilla {
  background-color: lightgray;
  display: flex;
  justify-content: center;
  align-content: center;
  width: 2em;
  aspect-ratio: 1/1;
}

@media (max-width: 580px) {
  .jugadores {
    display: flex;
    flex-direction: row;
    gap: 1em;
    justify-content: space-between;
    padding: 0 1em;
  }

  .jugador {
    font-size: 1.5em;
  }

  /* Move player 2 to the end on desktop */
  #jugador2 {
    order: initial;
  }

  .juego {
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }

  .michi {
    align-self: center;
    font-size: 3.5em;
  }

  .marcador {
    width: 3em;
  }
}

@media (580px < width < 1200px) {
  .juego {
    gap: 2em;
  }

  .jugadores {
    display: flex;
    flex-direction: column;
    gap: 2em;
  }

  .jugador {
    font-size: 1.5em;
  }

  .marcador {
    width: 3em;
  }

  .michi {
    font-size: 4em;
  }
}
