body {
  background-color: whitesmoke;
}

.contenedor {
}

.juego {
  gap: 4em;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.michi_fila {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.michi {
  display: flex;
  flex-direction: column;
  font-size: 4em;
  background-color: darkslategray;
  gap: 10px;
}

.jugador {
  background-color: aliceblue;
  font-size: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.marcador {
  width: 5em;
  aspect-ratio: 1/1;
}

.turno {
  width: 2.5em;
  aspect-ratio: 1/1;
}

.casilla {
  background-color: lightgray;
  display: flex;
  justify-content: center;
  align-content: center;
  width: 2em;
  aspect-ratio: 1/1;
}
